[submodule "alpaka"]
	path = alpaka
	url = https://github.com/mephisto-hpc/alpaka.git
	branch = mephisto
[submodule "dash"]
	path = dash
	url = git@github.com:mephisto-hpc/dash.git
	branch = mephisto
[submodule "llama"]
	path = llama
	url = https://github.com/mephisto-hpc/llama.git
	branch = develop
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
