[submodule "alpaka"]
	path = alpaka
	url = git@github.com:ComputationalRadiationPhysics/alpaka.git
	branch = develop
[submodule "dash"]
	path = dash
	url = git@github.com:dash-project/dash.git
	branch = feat-192-nviews
[submodule "llama"]
	path = llama
	url = git@github.com:ComputationalRadiationPhysics/llama.git
	branch = master
